<p>counter-list works!</p>

<div class="py-5">
    <h2>{{ name }}</h2>
    <button class="btn btn-primary" (click)="create()">Create</button>
</div>

<div class="row">
    <counter class="col-sm" *ngFor="let counter of counters" [counter]="counter"></counter>
    <div *ngIf="supercounters.length > 0">
      <app-super-counter class="col-lg" *ngFor="let superCounter of supercounters" [counter]="superCounter"></app-super-counter>
    </div>
    <div *ngIf="superdupercounters.length > 0">
      <app-super-duper-counter class="col-lg" *ngFor="let superDuperCounter of superdupercounters" [counter]="superDuperCounter"></app-super-duper-counter>
    </div>
  </div>  
